<div class="container left">
<div class="panel panel-primary center-block" style="width: 75%;">
  <div class="panel-heading text-center">Recent Updates</div>
  <div class="panel-body text-left">
    <ul>
    </ul>
  </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
          $("#archive").load("https://roscon.ros.org/archive.html");
      });
  </script>
<div id="archive">
  <p>Attempting to load ROSCon Archive Listings.</p>
</div>
